{%extends 'base/base.html'%}

{%block nuevo_button%}  <!--eliminamos el boton "nuevo"-->
{%endblock%}

{%block header_title%}
	Eliminar registro de adopción
{%endblock%}


{%block content%}

<form method="post">

    {% csrf_token %}
    <h3>
        Desea eliminar el registro de {{object.persona.nombre}} {{object.persona.apellidos}}?

    </h3>

    <button class="btn btn-danger" type="submit">Eliminar</button>
    <a class="btn btn-default" href="{% url 'app mascotas:lista_mascotas'%}">Cancelar</a>
</form>

{%endblock%}
