{% extends 'base/base.html' %}
{% load staticfiles %}








{% block content %}

<header>

    <h1 class="titulo">
        Solicites de adopción
    </h1>
    <div class="button-containter-main">
        <a class="btn btn-primary" href="{% url 'app_adopciones:solicitud_crear' %}">Nuevo</a>
        <a class="btn btn-danger" href="{% url "landing" %}">Atras</a>
    </div>


</header>

<table class="table table-border">
	<thead>
		<tr>
			<td>No. Solicitud</td>
			<td>Adoptante</td>
			<td>No. Mascotas</td>
			<td>Razones</td>
			<td>Acciones</td>
		</tr>
		
	</thead>
	<tbody>
		{% if object_list %}
		{% for solicitud in object_list %}
		<tr>
			<td>{{ solicitud.id }}</td>
			<td>{{ solicitud.persona.nombre }} {{solicitud.persona.apellidos}}</td>
			<td>{{ solicitud.numero_mascotas }}</td>
			<td>{{ solicitud.razones }}</td>
			
			<td>
				<a class="btn btn-primary" href="{% url 'app_adopciones:solicitud_actualizar' solicitud.id %}">Editar</a>
				<a class="btn btn-danger" href="{% url 'app_adopciones:solicitud_borrar' solicitud.id %}">Eliminar</a>
			</td>
		</tr>
		{% endfor %}

		{% else %}
		<h1>No hay registros de solicitudes</h1>


		{% endif %}

	</tbody>
</table> 

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />

{% endblock%}

# input de imagen, alertas en rojo/con un label, mostrar mensaje de guardado exitoso. (django menssage), editar o eliminar la imagen, anadir titulo a todas las ventanas. Cuando se elimine igula mensaje de eliminado,  Poner mensajes igual en adopciones.