{%extends 'base/base.html'%}


{%block content%}


<header>

    <h1 class="titulo">
        Mascotas en adopcion
    </h1>
    <div class="button-containter-main">
        <a class="btn btn-primary" href="{% url 'app mascotas:mascota_crear' %}">Nuevo</a>
        <a class="btn btn-danger" href="{% url "landing" %}">Atras</a>
    </div>


</header>


<table class="table table-border">

    <thead>
        <tr>

            <td>#</td>
            <td>Nombre</td>
            <td>Sexo</td>
            <td>Edad</td>
            <td>Fecha de rescate</td>
            <td>Adoptante</td>
            <td>Acciones</td>

        </tr>


    </thead>
    <tbody>

        {%if object_list%}
            
                {% for mascota in object_list %}
                    
                    <tr>
                        <td>{{ mascota.id }}</td>
                        <td>{{ mascota.nombre }}</td>
                        <td>{{ mascota.sexo }}</td>
                        <td>{{ mascota.edad_aproximada }}</td>
                        <td>{{ mascota.fecha_rescate }}</td>
                        <td>{{ mascota.persona.nombre }} {{ mascota.persona.apellidos}}</td>

                        <td>
                            <a class="btn btn-primary" href="{% url 'app mascotas:edicion_mascotas' mascota.id %}">Editar</a>
                            <a class="btn btn-danger" href="{% url 'app mascotas:borrar_mascota' mascota.id %}">Borrar</a>
                        
                        </td>
                     </tr>
                {% endfor %}
            {% else %}
            <h1>
                No hay registro de mascotas
            </h1>
        {% endif %}




    </tbody>





</table>



{%endblock%}