{%extends 'base/base.html'%}
{% load staticfiles %}

{%block header_title%}
	Datos de la mascota en adopción 
{%endblock%}

{%block nuevo_button%}  <!--eliminamos el boton "nuevo"-->
{%endblock%}

{% block content %}


<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    {% for field in form %}

        {% if field.name == "imagen" %}
        <div class=form-group>
            <label for="id_imagen_input" class="btn btn-primary">
                Seleccionar imagen
            </label>
            <span id="nombre-archivo" class="ml-2">Ningún archivo seleccionado</span>
            {{ field }}
        </div>
    
        
        {% else %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
        </div>
        {%endif%}
        {% if field.errors%}

        <label class="error-label"> {{field.errors.0}}</label>

        {% endif %}

    {% endfor %}

        {% if object.imagen%}
            <img src="{{object.imagen.url}}" width="250" alt="imagen-de-la-mascota-en-adopcion">    
        {% endif %}


    <button class="btn btn-primary" type="submit">guardar</button>

</form>

{%endblock%}